/**
 *
 * Product page styles
 *
 */

.product{
  background:  linear-gradient(
      rgba($bg-color--main, 0.9), 
      rgba($bg-color--main, 0.6)
    ),url("/images/productPage_bg.jpg");
  // background:  linear-gradient(
  //     rgba($bg-color--main, 0.9), 
  //     rgba($bg-color--main, 0.6)
  //   ),url("/images/thunderbird/27-Thunderbird-15-Gallery-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;


}

.product__info{
  min-height:35%;
  color: $color-text--primary;
  font-size: 1em;
  overflow: hidden;
  padding: 4em;
  padding-bottom: 0;
  margin-top: 2em;
}

.product__thumbnails__container{
  float: left;
    ul{
      float: right;
      margin-right: 10%;
    }
}

.thumbnail__image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
    height: 6em;
    min-width:90px;
    min-height: 90px;
    filter: grayscale(1);
    margin-left: .5em;
    position: relative;
    transition: width .6s ease,
                filter 2s ease;
    width: 6em;

    &::after{
      content: '';
      height: 0.2em;
      position: absolute;
      width: 0;
      background-color: $color--secondary;
      bottom: 0;
      transition: width .3s ease;
    }

    &:hover{
      width: 8em;
      filter: grayscale(0);

      &::after{
        width:100%;
      }
    }
}

.thumbnail__image-1{
  background-image: url("/images/thunderbird/27-Thunderbird-15-Gallery-1.jpg");
}
.thumbnail__image-2{
  background-image: url("/images/thunderbird/27-Thunderbird-15-Gallery-2.jpg");
}
.thumbnail__image-3{
  background-image: url("/images/thunderbird/27-Thunderbird-15-Gallery-3.jpg");
}

.product__description{
  float:right;
  font-weight: $font-weight--light;
  line-height: $line-height;
}

.product__thumbnails__container,
.product__description{
  width: 50%;
}

.product__price{
  text-align: right;
  margin-top: 1em;
  vertical-align:center;
  text-transform: uppercase;
  font-weight: $font-weight--bold;
  font-family: $font-secondary;
  color: $color-text--secondary--dark;
  
    span{
      color: $color-text--primary;
      font-size: 2em;
      font-weight: $font-weight--light;
      margin-left: 0.5em;
    }

}



.product__img-container{
    text-align: right;
    overflow: hidden;
    position: relative;
    min-height:65%;   
}

#product__image{
  display: block;
  position: absolute;
  bottom: -15%;
  right: -10%;
  transform: scaleX(-1);
  // visibility: hidden;
  width: 80%;
}

#product__title{
  color: rgba($color-text--primary, 0.8);
  font-size: 8em;
  font-family: $font-title--large;
  margin: 0;
  padding-right: 0.2em;
}


