/**
 *
 * Sidebar styles
 *
 */

#nav{
  background-color: $bg-color--aside;
  max-width: 18%;
  padding:3em;
  position: relative;
  z-index: 10;
  #products-nav__title{
    display: none;
  }
  @include med-screen{
    max-width: 100%;
   background-color: darken($bg-color--main,8%);
   background-image: url("/images/stardust.png"); 
    #products-nav__title{
      display: inline-block;
      font-size: 1.5em;
      color: $color-text--primary;
      letter-spacing: 10px;
      text-transform: uppercase;
      margin:3em 0 4em;
      border-left: 2px solid $color--secondary;
      padding-left: 1em;
    }

  }
}


.products-nav{
  @include med-screen{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
  }

}

.products-nav__item{
  margin: 2em 0;
  transition: background .3s ease,
              border .3s ease;
  border: 1px solid transparent;
  border-radius: 10px;

  a{
    text-align: center;
    color: $color-text--primary;
  }
  &:hover,
  &.active{
    border: 1px solid darken($color-text--primary, 60%);
  }

  @include med-screen{

      display: inline-block;
      width: 280px;
      margin: auto;
      margin-bottom: 5em;

      &.active{
        border: transparent;
      }
    
  }
}
