//named colors
$jumbo       :#333;
$saltbox     :#BABABA;
$black       :black;
$white       :white;
$redDamask   :#DE7F44;


//use-case colors
$bg-color--main      :$jumbo;
$bg-color--aside     :rgba($black, 0.5);
$color--secondary    :$redDamask;

// font colors
$color-text--primary             :$white;
$color-text--secondary--dark     :$redDamask;



//typography
$font-primary         : 'Source Sans Pro',Helvetica,Arial,sans-serif;
$font-secondary       : 'Open Sans Condensed', Helvetica,Arial,sans-serif;
$font-title--large    : 'Archivo Black',Helvetica,Arial,sans-serif;

//font-weight
$font-weight--light     :300;
$font-weight--normal    :400;
$font-weight--bold      :700;

//line height
$line-height        :1.8;


//screen sizes
$large-screen:  1130px;