//name colors
$jumbo    :#88888A;
$black    :black;
$white    :white;


//use-case colors
$bg-color--main      :$jumbo;
$bg-color--aside     :rgba($black, 0.8);

// font colors
$color-text--title-sidebar :$white;
